body {
    display: flex;
    justify-content: center;
  }
  
  .book {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #libraryContainer {
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 100px;      
    gap: 10px;
    max-height: calc(3 * 100px + 10px);
    overflow-y: auto;    
    padding-left: 10px;
    padding-right: 10px;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputContainer { 
    width: 200px;
  }